# Ignore everything
*

# Exception for README
!README.md

# Exception for Julia source
!src/
!src/**

# Exception for Julia docs
!docs/
!docs/**

# Exception for tests
!tests/
!tests/**

# Exception for examples
!examples/
!examples/**

# Exception for Project.toml
!Project.toml

# Exception for Github Actions
!.github/
!.github/**

# Exception for the following files
!LICENSE.md
!CODE_OF_CONDUCT.md
!CHANGELOG.md
!CONTRIBUTING.md
!CONTRIBUTORS.md
!ROADMAP.md
!SECURITY.md